<input type="text" name="name" id="name" value="{{short.input}}" required>
<div class="side-links">
        
  <button type="submit" class="btn btn-outline-primary mt-3">Shorten</button>
        
</div>